In [ ]:
# !wget -O "power_plant_energy_prediction_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/4b4d5e9d7624d0bce302d236fb1dd255?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210428%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210428T085651Z&X-Amz-Expires=1800&X-Amz-Signature=ba306115cb3bad13b33b6cb9d591c87e266983929ebad82ebddc99b5f6876a16&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22power_plant_energy_prediction_ai_challenge-dataset.zip%22"

--2021-04-28 09:03:02--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/4b4d5e9d7624d0bce302d236fb1dd255?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210428%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210428T085651Z&X-Amz-Expires=1800&X-Amz-Signature=ba306115cb3bad13b33b6cb9d591c87e266983929ebad82ebddc99b5f6876a16&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22power_plant_energy_prediction_ai_challenge-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.62.71
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.62.71|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 111746 (109K) [binary/octet-stream]
Saving to: ‘power_plant_energy_prediction_ai_challenge-dataset.zip’

power_plant_energy_ 100%[===================>] 109.13K   410KB/s    in 0.3s

2021-04-28 09:03:03 (410 KB/s) - ‘power_plant_energy_prediction_ai_challenge-dataset.zip’ saved [111746/111746]

In [ ]:
# import zipfile
# with zipfile.ZipFile('/content/power_plant_energy_prediction_ai_challenge-dataset.zip', 'r') as zip_ref:
#     zip_ref.extractall('/content/drive/MyDrive/Dockship_Dataset/Power Plant Energy Prediction AI Challenge')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import random
import math

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor

from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.metrics import plot_confusion_matrix, confusion_matrix, accuracy_score
from keras.utils import np_utils
from xgboost import XGBRegressor

import xgboost
np.random.seed(42)  # setting random seed for reproducibility

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/Dockship_Dataset/Power Plant Energy Prediction AI Challenge/TRAIN.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Dockship_Dataset/Power Plant Energy Prediction AI Challenge/TEST.csv")

In [ ]:
df_train.head(5)

      AT      V       AP     RH      PE
0  22.85  60.29  1017.29  61.92  448.58
1  11.75  35.76  1018.99  57.92  473.01
2  12.24  44.90  1020.31  82.22  464.25
3  13.43  40.10  1015.82  87.90  471.77
4   4.65  35.19  1018.23  94.78  489.36

In [ ]:
df_test.head(5)

      AT      V       AP     RH
0  11.55  40.60  1014.44  87.06
1   6.61  38.91  1015.77  92.31
2  16.97  42.86  1013.92  74.80
3  21.90  57.76  1017.45  66.89
4   9.73  40.22  1011.48  87.88

In [ ]:
# check mean, std, min, max of the dataset
df_train.describe()

                AT            V           AP           RH           PE
count  8000.000000  8000.000000  8000.000000  8000.000000  8000.000000
mean     19.677299    54.302629  1013.235534    73.260477   454.310364
std       7.448395    12.687358     5.920858    14.588452    17.056199
min       2.340000    25.360000   993.110000    25.560000   420.260000
25%      13.510000    41.740000  1009.070000    63.340000   439.727500
50%      20.320000    52.080000  1012.950000    74.880000   451.495000
75%      25.770000    66.540000  1017.190000    84.700000   468.400000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [ ]:
# check the datatypes of each column
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      8000 non-null   float64
 1   V       8000 non-null   float64
 2   AP      8000 non-null   float64
 3   RH      8000 non-null   float64
 4   PE      8000 non-null   float64
dtypes: float64(5)
memory usage: 312.6 KB

In [ ]:
# check null
df_train.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [ ]:
df_train.corr()

          AT         V        AP        RH        PE
AT  1.000000  0.843584 -0.505347 -0.538296 -0.947350
V   0.843584  1.000000 -0.409484 -0.308251 -0.869313
AP -0.505347 -0.409484  1.000000  0.100138  0.515031
RH -0.538296 -0.308251  0.100138  1.000000  0.385353
PE -0.947350 -0.869313  0.515031  0.385353  1.000000

In [ ]:
X, y = df_train.drop(['PE'], axis=1, inplace=False), df_train[['PE']]
X.shape, y.shape

((8000, 4), (8000, 1))

In [ ]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.58987633, 0.62153025, 0.6016422 , 0.48739946],
       [0.27063561, 0.18505338, 0.64394128, 0.43378016],
       [0.28472821, 0.34768683, 0.67678527, 0.75951743],
       ...,
       [0.28817947, 0.48736655, 0.81935805, 0.57841823],
       [0.67989646, 0.85088968, 0.47698432, 0.80723861],
       [0.19384527, 0.30480427, 0.43692461, 0.80147453]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
X_train.shape, X_test.shape

((6400, 4), (1600, 4))

**Linear Regression Model**

In [ ]:
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg_pred = reg.predict(X_test)
mean_squared_error(reg_pred,y_test)

21.1358335543068

**Random Forest Reggressoin**

In [ ]:
regr = RandomForestRegressor(max_depth=1000, n_estimators=5000, random_state=0)
regr.fit(X_train, np.array(y_train).ravel())

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=1000, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5000, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
regr_pred = regr.predict(X_test)
mean_squared_error(regr_pred,y_test)

11.31763345720227

**Hist Gradient Boosting Regressor**

In [ ]:
est = HistGradientBoostingRegressor(learning_rate=0.0001, max_iter=1000)
est.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

HistGradientBoostingRegressor(l2_regularization=0.0, learning_rate=0.0001,
                              loss='least_squares', max_bins=255,
                              max_depth=None, max_iter=1000, max_leaf_nodes=31,
                              min_samples_leaf=20, n_iter_no_change=None,
                              random_state=None, scoring=None, tol=1e-07,
                              validation_fraction=0.1, verbose=0,
                              warm_start=False)

In [ ]:
est_pred = regr.predict(X_test)
mean_squared_error(est_pred,y_test)

11.31763345720227

**XGBoost**

In [ ]:
xgb_m = XGBRegressor(n_estimators=1000, max_depth=500, eta=0.1, subsample=0.7, colsample_bytree=0.8)
xgb_m.fit(X_train, y_train)

[12:49:57] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=500, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.7, verbosity=1)

In [ ]:
xgb_pred = xgb_m.predict(X_test)
mean_squared_error(xgb_pred,y_test)

10.23428941914637

**Voting amoung models**

In [ ]:
er = VotingRegressor([('xgb_m', xgb_m), ('est', est)])

In [ ]:
er.fit(X_train, np.array(y_train).ravel())

[12:54:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

VotingRegressor(estimators=[('xgb_m',
                             XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=0.8, eta=0.1,
                                          gamma=0, importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=500, min_child_weight=1,
                                          missing=None, n_estimators=1000,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alpha=...
                                          seed=None, silent=None, subsample=0.7,
                                          verbosity=1)),
                            ('est',
                             HistGradientBoostingRegressor(l2_regularization=0.0,
                                                           learning_rate=0.0001,
                                                           loss='least_squares',
                                                           max_bins=255,
                                                           max_depth=None,
                                                           max_iter=1000,
                                                           max_leaf_nodes=31,
                                                           min_samples_leaf=20,
                                                           n_iter_no_change=None,
                                                           random_state=None,
                                                           scoring=None,
                                                           tol=1e-07,
                                                           validation_fraction=0.1,
                                                           verbose=0,
                                                           warm_start=False))],
                n_jobs=None, weights=None)

In [ ]:
est_er = er.predict(X_test)
mean_squared_error(est_er,y_test)

71.4483405428279

In [ ]:
sub = pd.read_csv("/content/drive/MyDrive/Dockship_Dataset/Power Plant Energy Prediction AI Challenge/SampleSubmission.csv")
sub.head()

   Index   Value
0      0  475.14
1      1  484.32
2      2  463.62
3      3  449.95
4      4  481.42

In [ ]:
test_scaled = scaler.fit_transform(df_test)
test_pred = er.predict(test_scaled)
test_pred

array([472.15223711, 482.69813165, 459.8118918 , ..., 479.2923127 ,
       454.90620631, 477.77929667])

In [ ]:
Submission = pd.DataFrame()
Submission["Index"] = np.array(df_test.index)
Submission["Value"] = np.round(np.array(test_pred), 2)
Submission.set_index("Index")
Submission

      Index   Value
0         0  472.15
1         1  482.70
2         2  459.81
3         3  448.83
4         4  474.77
...     ...     ...
1563   1563  450.30
1564   1564  446.14
1565   1565  479.29
1566   1566  454.91
1567   1567  477.78

[1568 rows x 2 columns]

In [ ]:
Submission.to_csv('/content/drive/MyDrive/Dockship_Dataset/Submissions/Power_Plant_Energy_Prediction_sub.csv', index=False)